# Python cache files
__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
# Project specific
uploads/
*.fen
*.log
screenshots/

chessbot_api.log

.DS_Store